#HWHostmap {
    position: relative;
    clear: both;
    overflow: hidden;
    border: 1px solid #cbcbcb;
}


#HWHostmap #hostmap-toolbar {
    position: absolute;
    top: 1em;
    left: 5em;
    z-index: 100;
    width: 400px;

    padding: 2px;
    background: #fff;

    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.65);

  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

#HWHostmap .angular-leaflet-map {
    clear: both;
    height: 500px;
    width: 100%;
    position: relative;
    top: 0;
}

#HWHostmap .hostmap-sidebar {
    position: absolute;
    top: 0;
    right: 0;
    height: 485px;
    width: 18%;
    padding: 15px 1% 0 1%;

    box-shadow: -2px -2px 5px rgba(0,0,0, 0.2);
    -moz-box-shadow: -2px -2px 5px rgba(0,0,0, 0.2);
    -webkit-box-shadow: -2px -2px 5px rgba(0,0,0, 0.2);
}
#HWHostmap .hostmap-sidebar h4 {
    display: inline-block;
    padding: 0 0 5px 25px;
    background: url(../vendor/leaflet-dist/images/marker-icon.png) 0 50% no-repeat;
}
#HWHostmap .hostmap-sidebar textarea {
    width: 100%;
}

#HWHostmap.sidebar-false .angular-leaflet-map {
    width: 100%;
}
#HWHostmap.sidebar-true .angular-leaflet-map {
    width: 80%;
}


.hostmap-add-wrap {
    float: left;
}


/**
 * Typeahead.js
 */
.twitter-typeahead {
    float: left;
}
.tt-query,
.tt-hint {
  width: 296px;
  height: 25px;
  padding: 5px;
  font-size: 20px;
  line-height: 25px;
  border: 0 solid transparent;
  outline: none;
}

.tt-hint {
    width: 260px;
    height: 23px;
    padding: 0 0 0 11px;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
/*
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
*/
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 294px;
  margin-top: 2px;
  margin-left: -3px;
  padding: 2px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 0;

  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;

  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;

     -moz-bborder-top-left-radius: 0;
     -moz-bborder-top-right-radius: 0;

          border-top-left-radius: 0;
          border-top-right-radius: 0;

  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 12px;
  line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}