<!DOCTYPE html>
<html ng-app="hostmapapp">
    <head>

        <title>Hitchwiki Hosts</title>

        <link href="assets/vendor/leaflet-dist/leaflet.css" rel="stylesheet" type="text/css" />
        <link href="assets/vendor/leaflet.markerclusterer/dist/MarkerCluster.css" rel="stylesheet" type="text/css" />
        <link href="assets/vendor/leaflet.markerclusterer/dist/MarkerCluster.Default.css" rel="stylesheet" type="text/css" />
        <link href="assets/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/main.css" rel="stylesheet" type="text/css" />

    </head>
    <body ng-controller="hostmapController">

        <div class="container">

            <div class="row">
                <div class="col-md-12">

                    <p>
                    <div class="form-inline">
                        <div class="form-group">
                            <input class="form-control" placeholder="Username" ng-model="user.username">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="ID" ng-model="user.id">
                        </div>
                        <button type="button" class="btn btn-default" ng-click="addhost()" >Add myself</button>
                    </div>
                    </p>

                </div>
                <div class="col-md-12">

                    <leaflet center="hostmap" markers="marker_list" layers="layers"></leaflet>

                </div>
            </div>
        </div>


        <script type="text/ng-template" id="addMarkerForm.html">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="web_bw" class="sr-only">BeWelcome</label>
                    <input type="text" class="form-control" id="web_bw" placeholder="BeWelcome username">
                </div>
                <div class="form-group">
                    <label for="web_cs" class="sr-only">CouchSurfing</label>
                    <input type="text" class="form-control" id="web_cs" placeholder="CouchSurfing username">
                </div>
                <div class="form-group">
                    <label for="web_ws" class="sr-only">WarmShowers</label>
                    <input type="text" class="form-control" id="web_ws" placeholder="WarmShowers username">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Add</button>
                </div>
            </form>
        </script>


        <script src="assets/vendor/jquery/jquery.min.js"></script>
        <!--<script src="assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>-->
        <script src="assets/vendor/angular/angular.js"></script>
        <script src="assets/vendor/leaflet-dist/leaflet.js"></script>
        <script src="assets/vendor/angular-animate/angular-animate.js"></script>
        <script src="assets/vendor/angular-leaflet/dist/angular-leaflet-directive.js"></script>
        <script src="assets/vendor/angular-route/angular-route.js"></script>
        <script src="assets/vendor/leaflet.markerclusterer/dist/leaflet.markercluster-src.js"></script>
        <script src="assets/js/app.js"></script>

    </body>
</html>
